.contact
{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient( to right, #d8dfba, #55e7b7);
}
ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin:0;
    background-color: black;
    height:auto;
}


li a{
    display: block;
    font-size: 35px;
    color:white;
    text-decoration: none;
    padding:10px;
    transition: 1.5s;
}
li a:hover
{
    background-color: blanchedalmond;
}

.contact-sec
{
    display: flex;
    justify-content: center;
}

.connect-box
{
    margin-top:40px;
    width: 900px;
    height: 500px;
    background-color: #d8dfba;
    text-align: center;
}
.connect-box h1
{
    display: inline-block;
}

.sep
{
    border:none;
    width: 15%;
    height: 2px;
    background-color: #000000;
} 

.links
{
    padding: 0%;
    list-style-type: none;
    margin-top: 20px;
}

.links li
{
    margin:15px 0;
}

.links li a
{
    text-decoration: none;
    font-size:20px;
    color:#55e7b7;
    border:2px solid #555;
}
.links-container img
{
   max-width: 100%;
   height: auto;
   border-radius: 20px;
}
@media (max-width: 768px) {
    ul {
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    li a {
        font-size: 25px; 
        padding: 5px; 
    }
}